body {
	background: #ececec url('../img/background.png');
}

.main-content {
	max-width: 1000px;
	padding: 2px 30px 50px 30px;
	margin: 10px auto;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #c3c3c3;
}

.options-block, .result-block {
	min-height: 235px
}

.options-block .form-group {
	margin-top: 26px;
}

.options-block .control-label {
	padding-top: 2px;
}

.options-block .form-control {
	max-width: 210px;
}

.options-block .form-group .control-holder {
	margin-top: 10px;
}

.options-block input.form-control {
	display: inline-block;
}

@media (min-width: 750px) {
	.options-block input.form-control {
		display: block;
	}
}

.generator-settings {
	margin-top: 30px;
}

.generator-settings h2 {
	margin-top: 17px;
}

.generator-code {
	margin-top: 35px;
}
.generator-code > div {
	margin-top: 10px;
}

.main-content hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px dashed #a1a1a1;
}

.result-block {
	background: #ffffff;
}

@media (min-width: 970px) {
	.result-block {
		background: #ffffff url('../img/divider.png') repeat-y;
		height: auto;
	}
}

.result-button {
	padding: 12px;
	margin: 70px auto;
	width: 140px;
	height: 45px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #3181b4;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.58), inset 0 0 5px rgba(255,255,255,.38);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.58), inset 0 0 5px rgba(255,255,255,.38);
	box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.58), inset 0 0 5px rgba(255,255,255,.38);
	background-color: #37a1e4;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.26), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.26), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.26), rgba(255,255,255,0));
	background-image: linear-gradient(to bottom, rgba(255,255,255,.26), rgba(255,255,255,0));
}

.generator-mail {
	max-width: 263px;
	margin: 12px auto;
}

.email-input {
	margin-bottom: 17px;
}
.email-submit {
	width: 109px;
	height: 38px;
	padding-top: 7px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	background-color: #50ac44;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
	box-shadow: 0 1px 1px rgba(0,0,0,.19), inset 0 2px rgba(255,255,255,.5), inset 0 0 5px rgba(255,255,255,.31);
	border: solid 1px #3b8e31;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.34), rgba(255,255,255,0));
	background-image: linear-gradient(to bottom, rgba(255,255,255,.34), rgba(255,255,255,0));
}

input, textarea {
	border: 2px solid #e3e3e3;
}

/* Placeholders */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #727272;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #727272;
}
input:-moz-placeholder,
textarea:-moz-placeholder {   /* Older versions of Firefox */
	color: #727272;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { 
	color: #727272;
}