.browsehappy {
	text-align: center;
	padding: 10px 0;
	background: #2B4141;
	font-family: 'MyriadPro-Regular';
}

.browsehappy {
	margin: 0 auto;
	display: block;
	color: #efefef;
	text-shadow: 0 1px 0 #;
}

.browsehappy a {
	color: #fff;
	text-decoration: underline;
}

.browsehappy a:hover {
	text-decoration: none;
}